body {
  background-color: #f5f1e6;
  background-image: url(https://vinhomes.vn/themes/porto/css/ht/../../img/vinhomes/ht/bg_tin_tuc.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
#content {
  width: 100%;
}

.news_container .top_img_container img {
  width: 100%;
}

#content .news_container {
  position: relative;
  text-align: center;
}

#content .news_container .top_img_container h4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

.news_container .news_list {
  /* position: absolute;
  left: 0;
  right: 0;
  top: 90%; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
  transform: translateY(-5%);
}

.news_container .news_list .container .nav_list .nav_list_item {
  margin-right: 20px;
  margin-left: 20px;
}

.news_container .news_list .container .nav_list .nav_list_item a {
  text-decoration: none;
  color: #000;
}

.news_container .news_list .container .nav_list {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 30px;
  height: 50px;
  align-items: center;
}

.news_container .news_list .container .nav_list .nav_list_item.active a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #dca447;
  bottom: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.news_container .news_list .container .nav_list .nav_list_item a {
  color: #979797;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.news_container .news_list .container .nav_list .nav_list_item.active a {
  color: #222;
}

.news_list .container {
  background-color: #fff;
}

.news_list .container {
}

.news_list .container .news_list_left {
  width: 60%;
}

.news_list .container .news_list_left .list {
  display: flex;
  flex-direction: column;
  border-bottom: solid #efefef 1px;
  margin-bottom: 30px;
}

.news_list .container .news_list_left button {
  text-align: center;
  background-color: #dca447;
  border: solid #dca447 1px;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 30px;
  color: #fff;
}

.new_list_wrapper {
  padding: 5px;
  width: 100%;
}
.news_list .container .new_list_content {
  width: 100%;
  display: flex;
  padding: 5px;
}

.new_list_content .new_list_content_left {
  width: 30%;
}

.new_list_content .new_list_content_left .new_list_content_left_img_container {
  width: 100%;
}

.new_list_content
  .new_list_content_left
  .new_list_content_left_img_container
  a
  img {
  width: 100%;
}

.new_list_content .new_list_content_right {
  width: 70%;
}

.new_list_content .new_list_content_right {
  text-align: left;
  padding: 5px;
}

.new_list_content .new_list_content_right h5 {
  font-size: 16px;
}

.new_list_content .new_list_content_right h5 a {
  text-decoration: none;
  color: inherit;
}

.new_list_content .new_list_content_right p {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  background: #fff;
}

.news_detail_content {
  display: flex;
}

.news_detail_content .news_detail_content_left {
  width: 60%;
}

.news_detail_content .news_detail_content_left h5 {
  margin-bottom: 20px;
  font-size: 25px;
  font-size: 25px;
  font-weight: 700;
  font-family: garamondpremrpro;
  color: #162b75;
  line-height: 30px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}

.news_detail_content .news_detail_content_left .new_detail_content {
  text-align: left;
}

.new_detail_content img {
  width: 100%;
}

.loadingContainer1 {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #979797;
  opacity: 0.5;
  display: none;
}

.loadingContainer1 div {
  height: 2%;
  width: 2%;
  border-radius: 50%;
  background: black;
  float: left;
  margin: 0 3px;
  background: #fff;
  flex-basis: 1;
  transform: scale(0);
}
.loadingContainer1 .ball1 {
  z-index: 1;
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
}
.loadingContainer1 .ball2 {
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loadingContainer1 .ball3 {
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loadingContainer1 .ball4 {
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-moz-keyframes grow {
  0% {
    -moz-transform: scale(0);
  }
  25% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0);
  }
  75% {
    -moz-transform: scale(1);
    background: #fff;
  }
  100% {
    -moz-transform: scale(0);
    background: #fff;
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1);
    background: #fff;
  }
  100% {
    -webkit-transform: scale(0);
    background: #fff;
  }
}
